################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/bin
/.vs
/obj/Release
/obj/Debug
/Components/LiveSplit.Kalimba.exe
/LiveSplit.Kalimba.csproj.user
/Components/Kalimba Manager.exe
